@model CatalogoApp.Domain.Models.Item

@{
    ViewData["Title"] = "Detalle";
}

<div class="container mt-5">

    <div class="card tarjeta-detalle">

        <div class="row g-0">

            <div class="col-md-5">
                <img src="@Model.ImagenUrl"
                     class="img-fluid imagen-detalle">
            </div>

            <div class="col-md-7">

                <div class="card-body">

                    <h1>@Model.Nombre</h1>

                    <h4 class="text-info">
                        @Model.Desarrollador
                    </h4>

                    <p class="mt-3">
                        @Model.Descripcion
                    </p>

                    <hr />

                    <p><strong>Género:</strong> @Model.Genero</p>
                    <p><strong>Plataforma:</strong> @Model.Plataforma</p>
                    <p><strong>Duración:</strong> @Model.Duracion</p>
                    <p><strong>Clasificación:</strong> @Model.Clasificacion</p>
                    <p><strong>Año:</strong> @Model.Ano</p>

                    <a asp-action="Index"
                       class="btn btn-secondary mt-3">
                        Volver
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>